<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <i class="bi bi-globe-americas me-2"></i> TP WebServices
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/noticias" routerLinkActive="active" aria-current="page">
              <i class="bi bi-newspaper me-1"></i> Noticias
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/card-maker" routerLinkActive="active">
              <i class="bi bi-car-front-fill me-1"></i> Card Maker
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/conversor" routerLinkActive="active">
              <i class="bi bi-currency-exchange me-1"></i> Conversor
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/generador-imagen" routerLinkActive="active">
              <i class="bi bi-image-fill me-1"></i> Generador Imagen
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/custom-api" routerLinkActive="active">
              <i class="bi bi-stars me-1"></i> API Custom
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>