<footer class="bg-dark text-light text-center py-3 mt-auto">
  <div class="container">
    <div class="mb-3"> <a href="https://www.facebook.com/" target="_blank" class="text-light me-3" aria-label="Facebook">
        <i class="bi bi-facebook" style="font-size: 1.5rem;"></i>
      </a>
      <a href="https://www.instagram.com/" target="_blank" class="text-light me-3" aria-label="Instagram">
        <i class="bi bi-instagram" style="font-size: 1.5rem;"></i>
      </a>
      <a href="https://x.com/" target="_blank" class="text-light me-3" aria-label="Twitter X">
        <i class="bi bi-twitter-x" style="font-size: 1.5rem;"></i>
      </a>
      <a href="https://github.com/" target="_blank" class="text-light me-3" aria-label="GitHub">
        <i class="bi bi-github" style="font-size: 1.5rem;"></i>
      </a>
      <a href="https://ar.linkedin.com/" target="_blank" class="text-light me-3" aria-label="LinkedIn">
        <i class="bi bi-linkedin" style="font-size: 1.5rem;"></i>
      </a>
      </div>
    <p>&copy; {{ currentYear }} Mi Aplicación WebServices. Programación y Servicios Web - UNJu.</p>
  </div>
</footer>